<div class="w-3/4 m-auto flex justify-center flex-col items-center mt-20">
  <a
    [routerLink]="['/postPage', post.id]"
    class="w-2/4 block rounded-lg overflow-hidden shadow-lg h-fit my-4 dark:bg-card-background"
    *ngFor="let post of posts"
  >
    <div
      class="w-full bg-slate-200 dark:bg-gray-700"
      *ngIf="post.imageUrl !== null"
    >
      <img class="w-auto m-auto" [src]="post.imageUrl" alt="Image" />
    </div>
    <div class="px-4 pt-2 mt-2 flex flex-col">
      <div class="text-xs text-text-disabled" *ngIf="post.updated === ''">
        Created by {{ post.userName }} at {{ post.created }}h
      </div>
      <div *ngIf="post.updated !== ''" class="text-xs text-text-disabled">
        Updated by {{ post.userName }} at {{ post.userName }}h
      </div>
    </div>
    <div class="px-4 py-1 mb-2">
      <div class="font-bold text-xl mb-1 text-gray-900 dark:text-gray-100">
        {{ post.name }}
      </div>
      <p class="text-gray-700 dark:text-text-disabled text-base">
        {{ post.description | truncate : 50 }}
      </p>
    </div>
    <div class="px-4 pb-2 flex">
      <button
        class="hover:bg-primary-light hover:text-text-primary rounded-md px-3 py-1 text-sm font-semibold mr-2 mb-2 w-fit flex items-center gap-y-1 dark:text-text-primary"
        [ngClass]="{
      'bg-gray-200 text-gray-700 dark:bg-primary-background-100': !didUserLikePost[post.id].isLiked,
      'bg-primary-dark text-white dark:bg-primary-dark': didUserLikePost[post.id].isLiked, 
    }"
        (click)="likePost(post.id, $event)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          class="size-5 mr-1"
          fill="#ffffff"
          *ngIf="didUserLikePost[post.id].isLiked"
        >
          <path
            fill-rule="evenodd"
            d="M15.03 9.684h3.965c.322 0 .64.08.925.232.286.153.532.374.717.645a2.109 2.109 0 0 1 .242 1.883l-2.36 7.201c-.288.814-.48 1.355-1.884 1.355-2.072 0-4.276-.677-6.157-1.256-.472-.145-.924-.284-1.348-.404h-.115V9.478a25.485 25.485 0 0 0 4.238-5.514 1.8 1.8 0 0 1 .901-.83 1.74 1.74 0 0 1 1.21-.048c.396.13.736.397.96.757.225.36.32.788.269 1.211l-1.562 4.63ZM4.177 10H7v8a2 2 0 1 1-4 0v-6.823C3 10.527 3.527 10 4.176 10Z"
            clip-rule="evenodd"
          />
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          class="size-5 mr-1"
          stroke="#ffffff"
          *ngIf="!didUserLikePost[post.id].isLiked"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M7 11c.889-.086 1.416-.543 2.156-1.057a22.323 22.323 0 0 0 3.958-5.084 1.6 1.6 0 0 1 .582-.628 1.549 1.549 0 0 1 1.466-.087c.205.095.388.233.537.406a1.64 1.64 0 0 1 .384 1.279l-1.388 4.114M7 11H4v6.5A1.5 1.5 0 0 0 5.5 19v0A1.5 1.5 0 0 0 7 17.5V11Zm6.5-1h4.915c.286 0 .372.014.626.15.254.135.472.332.637.572a1.874 1.874 0 0 1 .215 1.673l-2.098 6.4C17.538 19.52 17.368 20 16.12 20c-2.303 0-4.79-.943-6.67-1.475"
          />
        </svg>

        Likes: {{ post.likes }}
      </button>
      <div
        class="bg-gray-200 dark:bg-primary-background-100 rounded-md px-3 py-1 text-sm font-semibold text-gray-700 dark:text-text-primary mr-2 mb-2 w-fit flex items-center gap-y-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          class="size-5 mr-1"
          stroke="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M3 5.983C3 4.888 3.895 4 5 4h14c1.105 0 2 .888 2 1.983v8.923a1.992 1.992 0 0 1-2 1.983h-6.6l-2.867 2.7c-.955.899-2.533.228-2.533-1.08v-1.62H5c-1.105 0-2-.888-2-1.983V5.983Zm5.706 3.809a1 1 0 1 0-1.412 1.417 1 1 0 1 0 1.412-1.417Zm2.585.002a1 1 0 1 1 .003 1.414 1 1 0 0 1-.003-1.414Zm5.415-.002a1 1 0 1 0-1.412 1.417 1 1 0 1 0 1.412-1.417Z"
            clip-rule="evenodd"
          />
        </svg>

        Comments: {{ post.comments }}
      </div>
    </div>
  </a>
  <a
    routerLink="/addPost"
    class="flex items-center justify-center w-12 h-12 bg-primary-dark rounded-md hover:bg-primary-light cursor-pointer absolute bottom-10 left-10"
    *ngIf="authenticatedUserRole === 'Administrator'"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 text-white"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 12h14m-7 7V5"
      />
    </svg>
  </a>
</div>
