<div
  class="w-2/4 m-auto block rounded overflow-hidden shadow-lg h-fit my-4 mt-20 dark:bg-gray-800"
>
  <div class="w-full bg-slate-800" *ngIf="post.imageUrl !== null">
    <img
      class="w-auto m-auto pointer-events-none"
      [src]="post.imageUrl"
      alt="Image"
    />
  </div>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 text-gray-900 dark:text-gray-100">
      {{ post.name }}
    </div>
    <p class="text-gray-700 dark:text-gray-300 text-base">
      {{ post.description }}
    </p>
  </div>
  <div class="px-6 pb-2">
    <div
      class="inline-block bg-gray-200 dark:bg-gray-600 rounded px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-300 mr-2 mb-2 w-fit"
    >
      Posted by: {{ post.userName }}
    </div>
  </div>
  <div class="px-6 pb-2 flex flex-col">
    <div
      class="inline-block bg-gray-200 dark:bg-gray-600 rounded px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-300 mr-2 mb-2 w-fit"
      *ngIf="post.updated === ''"
    >
      Created: {{ post.created }}
    </div>
    <div
      *ngIf="post.updated !== ''"
      class="inline-block bg-gray-200 dark:bg-gray-600 rounded px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-300 mr-2 mb-2 w-fit"
    >
      Updated: {{ post.updated }}
    </div>
  </div>
  <div class="px-6 flex">
    <button
      class="inline-block bg-gray-200 dark:bg-gray-600 hover:bg-purple-400 hover:text-white rounded px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-300 mr-2 mb-2 w-fit flex"
      [ngClass]="{
        'bg-purple-500': didUserLikePost.isLiked,
        'dark:bg-purple-500': didUserLikePost.isLiked,
        'text-white': didUserLikePost.isLiked,
        'dark:text-white': didUserLikePost.isLiked
      }"
      (click)="likePost()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="size-5 mr-1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z"
        />
      </svg>
      Likes: {{ post.likes }}
    </button>
    <div
      class="inline-block bg-gray-200 dark:bg-gray-600 rounded px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-300 mr-2 mb-2 w-fit flex items-center justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5 mr-1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z"
        />
      </svg>
      Comments: {{ post.comments }}
    </div>
  </div>
  <section class="py-5 relative">
    <div class="w-full max-w-7xl px-6 mx-auto">
      <div class="w-full flex-col justify-start items-start inline-flex">
        <div class="w-full flex-col justify-start items-start gap-5 flex">
          <div
            class="w-full flex-col justify-start items-start flex"
            *ngFor="let comment of comments; let i = index"
          >
            <div class="w-full flex-col justify-start items-end gap-5 flex">
              <div
                class="w-full p-6 bg-white dark:bg-gray-800 rounded border border-gray-200 dark:border-gray-700 flex-col justify-start items-start gap-8 flex"
              >
                <div
                  class="w-full flex-col justify-center items-start gap-3.5 flex"
                >
                  <div class="w-full justify-between items-center inline-flex">
                    <div class="justify-start items-center gap-2.5 flex">
                      <div
                        class="w-10 h-10 bg-gray-300 dark:bg-gray-600 rounded-full justify-start items-start gap-2.5 flex"
                      >
                        <img
                          class="rounded-full object-cover"
                          [src]="comment.user.profilePhoto"
                          [alt]="
                            comment.user.firstName + ' ' + comment.user.lastName
                          "
                        />
                      </div>
                      <div
                        class="flex-col justify-start items-start gap-1 inline-flex"
                      >
                        <a
                          class="text-gray-900 dark:text-gray-200 text-sm font-semibold leading-snug hover:text-purple-400 hover:underline"
                          [routerLink]="['/profilePage', comment.user.id]"
                        >
                          {{ comment.user.firstName }}&nbsp;{{
                            comment.user.lastName
                          }}
                        </a>
                        <h6
                          class="text-gray-500 dark:text-gray-400 text-xs font-normal leading-5"
                          *ngIf="comment.updated === ''"
                        >
                          {{ comment.created }}
                        </h6>
                        <h6
                          class="text-gray-500 dark:text-gray-400 text-xs font-normal leading-5"
                          *ngIf="comment.updated !== ''"
                        >
                          Updated: {{ comment.updated }}
                        </h6>
                      </div>
                    </div>
                    <div class="w-6 h-6 relative">
                      <div class="w-full h-fit flex">
                        <div class="relative w-full">
                          <div
                            class="absolute left-0 top-0 py-2.5 px-4 text-gray-300 dark:text-gray-500"
                          ></div>
                          <button
                            id="dropdown-button"
                            data-target="dropdown-1"
                            class="w-full justify-center dropdown-toggle flex-shrink-0 flex items-center text-base font-medium text-center text-gray-900 bg-transparent absolute right-0 top-0 dark:text-gray-200"
                            type="button"
                            [ngClass]="{
                              hidden: comment.user.id !== authenticatedUserId
                            }"
                            (click)="toggleDropDown(comment.id)"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                            >
                              <path
                                d="M12.0161 16.9893V17.0393M12.0161 11.9756V12.0256M12.0161 6.96191V7.01191"
                                class="stroke-white dark:stroke-gray-200"
                                stroke-width="2.5"
                                stroke-linecap="round"
                              />
                            </svg>
                          </button>
                          <div
                            id="dropdown-1"
                            class="absolute top-10 right-0 bg-slate-100 dark:bg-gray-700 divide-y divide-gray-100 dark:divide-gray-600 rounded shadow w-44 z-20"
                            [ngClass]="{
                              open: commentDropDownIsOpened.get(comment.id),
                              hidden: !commentDropDownIsOpened.get(comment.id)
                            }"
                          >
                            <ul
                              class="py-2 text-sm text-gray-700 dark:text-gray-200"
                              aria-labelledby="dropdown-button"
                            >
                              <li>
                                <a
                                  href="#"
                                  class="block px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-slate-200 dark:hover:bg-gray-600"
                                  (click)="toggleEditComment(i, $event)"
                                  >Edit</a
                                >
                              </li>
                              <li>
                                <a
                                  href="#"
                                  class="block px-4 py-2 text-gray-700 dark:text-gray-200 hover:bg-slate-200 dark:hover:bg-gray-600"
                                  (click)="
                                    openDeleteCommentModal(comment.id, $event)
                                  "
                                  >Delete</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p
                    class="text-gray-800 dark:text-gray-300 text-sm font-normal leading-snug"
                    *ngIf="!editCommentInputs[i].isShowed"
                  >
                    {{ comment.content }}
                  </p>
                  <div
                    class="w-full relative flex justify-between gap-2"
                    *ngIf="editCommentInputs[i].isShowed"
                  >
                    <input
                      type="text"
                      class="w-full py-3 px-5 rounded border border-gray-300 focus:border-purple-500 bg-white dark:bg-gray-800 dark:border-gray-700 focus:outline-none text-gray-900 dark:text-gray-200 placeholder-gray-400 text-lg font-normal leading-relaxed"
                      placeholder="Write comments here..."
                      [(ngModel)]="editCommentInputs[i].value"
                    />
                    <button
                      class="absolute right-12 top-[18px]"
                      (click)="editComment(comment.id, i)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        class="stroke-gray-900 dark:stroke-gray-200 transition-colors hover:stroke-purple-400"
                      >
                        <path
                          d="M11.3011 8.69906L8.17808 11.8221M8.62402 12.5909L8.79264 12.8821C10.3882 15.638 11.1859 17.016 12.2575 16.9068C13.3291 16.7977 13.8326 15.2871 14.8397 12.2661L16.2842 7.93238C17.2041 5.17273 17.6641 3.79291 16.9357 3.06455C16.2073 2.33619 14.8275 2.79613 12.0679 3.71601L7.73416 5.16058C4.71311 6.16759 3.20259 6.6711 3.09342 7.7427C2.98425 8.81431 4.36221 9.61207 7.11813 11.2076L7.40938 11.3762C7.79182 11.5976 7.98303 11.7083 8.13747 11.8628C8.29191 12.0172 8.40261 12.2084 8.62402 12.5909Z"
                          stroke-width="2"
                          stroke-linecap="round"
                        />
                      </svg>
                    </button>
                    <button
                      class="absolute right-6 top-[16px]"
                      (click)="toggleEditComment(i, $event)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 20 20"
                        fill="none"
                        class="stroke-gray-900 dark:stroke-gray-200 transition-colors hover:stroke-red-400"
                      >
                        <path
                          stroke-width="2"
                          stroke-linecap="round"
                          d="M6 18 18 6M6 6l12 12"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-full relative flex justify-between gap-2 focus-within:border-purple-500 focus-within-custom-stroke"
          >
            <input
              type="text"
              class="w-full py-3 px-5 rounded border border-gray-300 focus:border-purple-500 bg-white dark:bg-gray-800 dark:border-gray-700 focus:outline-none text-gray-900 dark:text-gray-200 placeholder-gray-400 text-lg font-normal leading-relaxed"
              placeholder="Write comments here...."
              #comment
            />
            <button
              class="absolute right-6 top-[18px]"
              (click)="commentPost(comment.value)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                class="stroke-gray-900 dark:stroke-gray-200 transition-colors hover:stroke-purple-400"
              >
                <path
                  d="M11.3011 8.69906L8.17808 11.8221M8.62402 12.5909L8.79264 12.8821C10.3882 15.638 11.1859 17.016 12.2575 16.9068C13.3291 16.7977 13.8326 15.2871 14.8397 12.2661L16.2842 7.93238C17.2041 5.17273 17.6641 3.79291 16.9357 3.06455C16.2073 2.33619 14.8275 2.79613 12.0679 3.71601L7.73416 5.16058C4.71311 6.16759 3.20259 6.6711 3.09342 7.7427C2.98425 8.81431 4.36221 9.61207 7.11813 11.2076L7.40938 11.3762C7.79182 11.5976 7.98303 11.7083 8.13747 11.8628C8.29191 12.0172 8.40261 12.2084 8.62402 12.5909Z"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
